@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import "boards.css";
@import "controls.css";
@import "cards.css";
@import "smallscreens.css";
@import "mediumscreens.css";

:root {
  --fontColor: rgb(0, 0, 0);
  --controlPanelColor: rgba(22, 122, 246, 1);
  --lightGreen: rgba(151, 250, 150, 1);
  --lightBlue: rgb(146, 193, 255);
  --darkBlue: rgb(0, 103, 238);
  --controlPanelW: 20vw;
  --teamNameW: 90%;
  --softBorder: 6px;
  --boardW: 90vw;
  --smallBoardW: 85vw;
  --smallMarginW: 2vw;
  --font-size: 5vw;
  --font-family: "Comic Sans MS", "Comic Sans", "Rubik", "Tahoma",
    "Times New Roman", "Arial";
  background-color: var(--lightBlue);
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--lightBlue);
  /* height: 100vh; */
  justify-content: space-between;
  /* width: 100%; */
  overflow-y: hidden;
  overflow-x: hidden;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.option {
  justify-self: center;
  align-self: center;
  font-size: var(--font-size);
  width: 100%;
  font-family: var(--font-family);
}
