img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10vw;
  width: 10vw;
}

.card {
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto auto;
}

.react-card-flip {
  margin: auto auto;
}
