button {
  background: var(--background-color);
  border: none;
  width: 2vw;
}

button:focus {
  outline: none;
}

button:hover {
  /* border-radius: 6px; */
  /* box-shadow: inset 0px 0px 2px 2px var(--darkBlue); */
  /* outline: none; */
  box-shadow: inset 0px 0px 2px 2px black;
}

.control-panel {
  display: flex;
  flex-direction: row;
  justify-items: center;
  border: 1px solid black;
}

.screen-change-btn {
  color: black;
  width: auto;
  padding: 0;
  font-size: 2vw;
}

.screen-change-btn:hover {
  outline: none;
}