@media (max-width: 1200px) {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 13vw;
    width: 13vw;
  }

  div.card {
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto auto;
    background-color: var(--light-blue);
  }
}
