@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import "boards.css";
@import "controls.css";
@import "cards.css";

:root {
  --fontColor: rgb(0, 0, 0);
  --controlPanelColor: rgba(22, 122, 246, 1);
  --lightGreen: rgba(151, 250, 150, 1);
  --lightBlue: rgb(146, 193, 255);
  --darkBlue: rgb(0, 103, 238);
  --controlPanelW: 20vw;
  /* --cardW: calc((90vw - var(--controlPanelW)) / 6); */
  /* --cardH: calc(90vh / 4); */
  --teamNameW: 50%;
  --softBorder: 6px;
  --boardW: 90vw;
  --smallBoardW: 85vw;
  --smallMarginW: 2vw;
  font-size: 1rem;
  --Font: "Comic Sans MS", "Comic Sans", "Rubik", "Tahoma", "Times New Roman",
    "Arial";
}

:root {
  background-color: var(--lightBlue);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  margin: auto auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.screen {
  width: var(--smallBoardW);
  background-color: var(--lightBlue);
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.deck {
  font-size: 3rem;
  /* width: var(--cardW); */
  /* height: var(--cardH); */
  margin: 1vw;
  border-radius: var(--softBorder);
  font-family: var(--Font);
}