@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap')
$fontColor: rgb(0,0,0)
$controlPanelColor:  rgba(22, 122, 246, 1)
$lightGreen: rgba(151, 250, 150, 1)
$lightBlue: rgb(146, 193, 255)
$darkBlue: rgb(0, 103, 238)

$controlPanelW: 20vw
$cardW: (90vw - $controlPanelW)/6
$cardH: 90vh/4
$teamNameW: 50%
$font: 'Rubik', sans-serif
$softBorder: 6px
$boardW: 90vw
$smallBoardW: 85vw
$smallMarginW: 2vw
$fontSize: 16px

#root
  background-color: $lightBlue

.main
  display: flex
  flex-direction: row
  justify-content: space-between
  height: 100vh
  align-items: center
  margin: auto auto

.board
  width: $boardW
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-evenly

.row
  display: flex
  justify-content: space-around

.card,
  border-radius: 3px
  width: $cardW
  height: $cardH
  box-shadow: inset 0px 0px 1px 1px black

.card:hover
  box-shadow: 0px 0px 2px 2px

.card-front
  font-family: $font
  display: flex
  justify-content: center
  align-items: center
  font-size: 3em

.controlpanel
  display: flex
  background-color: $lightBlue
  flex-direction: column
  justify-content: space-between
  align-items: center
  font-family: $font
  width: $controlPanelW
  height: 100vh

.teamlist
  display: flex
  flex-direction: column
  justify-content: space-between

.team
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 1vh 1vw

input
  width: $teamNameW
  color: $fontColor
  border-radius: $softBorder
  border: none
  padding: 6px
  align-text: center

.score
  margin: auto auto
  font-size: 2rem

.incdec
  font-size: 2rem

.add-remove-teams
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.instructions
  color: black
  font-weight: bold
  text-align: center

.controls
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $lightBlue
  margin-bottom: 1vh
  font-size: 2rem

.add-remove-teams
  span
    margin: 0px 20px

.screen
  width: $smallBoardW
  height: 100vh
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center

.deck
  font-size: $fontSize * 3
  width: auto
  height: auto
  margin: 1vw
  border-radius: $softBorder

button
  background: $lightBlue
  border: none
  width: 2vw

button:focus
  outline: none

button:hover
  box-shadow: inset 0px 0px 2px 2px $darkBlue

a
  text-decoration: none

.screen-change-btn
  width: 100%