@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import "boards.css";
@import "controls.css";
@import "cards.css";

:root {
  --fontColor: rgb(0, 0, 0);
  --controlPanelColor: rgba(22, 122, 246, 1);
  --lightGreen: rgba(151, 250, 150, 1);
  --lightBlue: rgb(146, 193, 255);
  --darkBlue: rgb(0, 103, 238);
  --controlPanelW: 20vw;
  --teamNameW: 50%;
  --softBorder: 6px;
  --boardW: 90vw;
  --smallBoardW: 85vw;
  --smallMarginW: 2vw;
  --background-color: white;
  font-size: 1rem;
  --Font: "Comic Sans MS", "Comic Sans", "Rubik", "Tahoma", "Times New Roman",
    "Arial";
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.deck {
  justify-self: center;
  align-self: center;
  font-size: 4vw;
  width: 100%;
  font-family: var(--Font);
}
