button {
  background: var(--lightBlue);
  border: none;
  width: 2vw;
}

button:focus {
  outline: none;
}

button:hover {
  box-shadow: inset 0px 0px 2px 2px var(--darkBlue);
}

.controlpanel {
  display: flex;
  background-color: var(--lightBlue);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--Font);
  width: var(--controlPanelW);
  height: 100vh;
}

.add-remove-teams span {
  margin: 0px 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
  margin-bottom: 1vh;
  font-size: 2rem;
}

.instructions {
  color: black;
  font-weight: bold;
  text-align: center;
}

.teamlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 1vw;
}

input {
  width: var(--teamNameW);
  color: var(--fontColor);
  border-radius: var(--softBorder);
  border: none;
  padding: 6px;
  text-align: center;
}

.score {
  margin: auto auto;
  font-size: 2rem;
}

.incdec {
  font-size: 2rem;
}

.add-remove-teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.screen-change-btn {
  width: 100%;
}
